@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff');
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* font-family: 'ONE-Mobile-POP'; */
*{margin:0; padding:0;}

header{width:100vw; height:100vh;  margin:0 auto;
    background-image:url(../img/main.png); background-size:cover; background-attachment: fixed;
    background-position: center; display: flex; justify-content: center;
    position:relative; z-index: -2;}
.header_box{width:33%; height:95vh;  }
.header2{ display: flex; align-items: flex-end;}
.title{position:absolute; top:5%; left:38%;}
.title img{width:130%;}
#photo_box{width:400px; height:auto; background-color: rgb(255, 255, 255);
display: flex; justify-content: center; align-items: center;}
#photo{width:95%; height:95%;}
#photo img{width:100%; height:100%;}
#header_text{  font-family: 'ONE-Mobile-POP'; font-size: 40px;}


#pack{width:250px; height:350px;}
#pack img{width:100%; height:100%;}
#pokemon{width:100%; height:400px; 
 display: flex; justify-content: center; align-items: center;} 
#pokemon img{width:60%; margin-right:-17%;}


#header_bar{width:50%; height:80px; background-color: gold;
position:absolute; bottom:5%; right:0; z-index: -1;}


section{width:1200px; height:1100px; background-color:cadetblue; margin:0 auto;}

.video{width:1200px; height:800px; background-color:coral; margin:0 auto;}

.story{width:1200px; height:1100px; background-color:rgb(126, 114, 110); margin:0 auto;}

article{width:1200px; height:850px; background-color:rgb(31, 60, 61); margin:0 auto;}

.switch{width:1200px; height:800px; background-color:hotpink; margin:0 auto;}

.join{width:1200px; height:800px; background-color:rgb(85, 62, 74); margin:0 auto;}

footer{width:1200px; height:600px; background-color:rgb(104, 17, 62); margin:0 auto;}