@charset "UTF-8";
$m: 0 auto;

@mixin bg($url,$size,$po) {
    background-image: url($url);
    background-size: $size;
    background-position: $po;
    @content
};

@mixin flex($flex,$js,$ali,$row) {
    display: $flex;
    justify-content: $js;
    align-items: $ali;
    flex-direction: $row;
}


*{margin:0; padding:0;}
#wrap{width:100%; overflow: hidden;}
h1{font-family:  'ONE-Mobile-POP';}
p{font-family: 'GangwonEdu_OTFBoldA';}
ul,li,ol{list-style: none;}
body{background-image: url(../img/bg\ \(1\).png);}

header{width:100vw; height:100vh;  margin:0 auto;
display: flex; justify-content: flex-end;
    position:relative;}

#header_box{width:50%; height:100%; background-color: gold;
transform: skew(-20deg); position:absolute;right:0;
animation:op 1.5s forwards; }
#header_box2{width:95%; height: 100%; background-image: url(../img/mv-pc.png);
background-size: cover; background-position: 50%; background-attachment: fixed;}
#header_text{display: flex; flex-direction: column; 
position:absolute; z-index: 5; top:20%; left:5%; }
#header_text h1{display: inline-block; font-size: 5vw; margin:5% 0; color:#333;}

.bubble_box{width:70%; height:5%; position:absolute; bottom:-5%; left:15%;
}

.bubbles{clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
 position:absolute; z-index: 999;}
.path1{width:20px; height:20px; left:30%; animation:bubbles 9s infinite; z-index: 999; background-color: #00ffff;}
.path2{width:30px; height:30px; left:40%;animation:bubbles2 6s infinite; z-index: 999;background-color: #2e5ec3;}
.path3{width:40px; height:40px; left:45%;animation:bubbles3 9s infinite; z-index: 999;background-color:#ddf2fd;}
.path4{width:10px; height:10px; left:35%;animation:bubbles2 5s infinite; z-index: 999;background-color:gold;}
.path5{width:20px; height:20px; left:50%;animation:bubbles 15s infinite; z-index: 999;background-color:#3f95e1;}
.path6{width:30px; height:30px; left:55%;animation:bubbles3 5s infinite; z-index: 999;background-color:#00ffff;}
.path7{width:30px; height:30px; left:65%;animation:bubbles2 15s infinite; z-index: 999;background-color:#2e5ec3;}
.path8{width:40px; height:40px; left:60%;animation:bubbles 11s infinite; z-index: 999;background-color:#ddf2fd;}
.path9{width:20px; height:20px; left:70%;animation:bubbles3 11s infinite; z-index: 999;background-color:gold;}






.text{overflow: hidden;}
.text h1{transform: translateY(150px);
animation:text 0.5s ease forwards; animation-delay: 1.8s;}


section{
    width:100%;
    height:1071px;
    margin:$m;
    position:relative;
   z-index: -1;
    video{
        width:100%;
        height:100%;

    }
}

.sec_box{
    width:666px;
    height:126px;
    @include flex(flex, center,center,row);
    position:absolute;
    font-size: 30px;

    &:first-of-type{
        top:9%;
        left:10%;
     @include bg('../img/video1.png',cover,center);
    }

    &:nth-of-type(2){
        top:29%;
        right:10%;
     @include bg('../img/video2.png',contain,center){
        background-repeat: no-repeat;
     }
     img{
        margin-top:-5%;
     }
    }

    &:nth-of-type(3){
        top:49%;
        left:5%;
     @include bg('../img/video1.png',cover,center);
    }
}


.mail{
    width:100%;
    height:950px;
    -webkit-mask: url(../img/bg_svg.svg) repeat-x 50% 0;
    background-color: #c33a4f;
    mask-size: 100%;
   margin-top:-4%;
   position:relative;
   @include flex(flex,center,center,column);
   h1{
    font-size: 50px;
    color:white;
    &:nth-of-type(1){
        margin-top:2%;
        
    }
  
   }
   
}
.bar{
    width:550px;
    height:5px;
    background-color: white;
    position:absolute;
    top:28%;
}

.bar:before{
    content:'';
    width:30px;
    height:30px;
    
    position:absolute;
    margin-top:-30%;
    left:-3%;
    @include bg('../img/star.png',cover,center);
}

.bar:after{
    content:'';
    width:30px;
    height:30px;
    
    position:absolute;
    margin-top:-8%;
    right:-5%;
    @include bg('../img/star.png',cover,center);
}

.mail::after{
    content:'';
    width:569px;
    height:336px;
    position:absolute;
    z-index: -2;
    top:0;
    left:0;
    background-image: url(../img/bg_red2.png);

}
.mail::before{
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    z-index: -1;
    background-image: url(../img/fall1.png);
    animation:bg 80s linear infinite;
    background-attachment: fixed;
}
.mail_img::before{
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    z-index: -1;
    background-image: url(../img/fall2.png);
    animation:bg 40s linear infinite;
    background-attachment: fixed;
}

.mail_img::after{
    content:'';
    width:290%;
    height:100%;
    position:absolute;
    z-index: -1;
    background-image: url(../img/fall2.png);
    animation:bg2 90s linear infinite;
    background-attachment: fixed;
}

.mail_img3::before{
    content:'';
    width:130%;
    height:50%;
    position:absolute;
    z-index: -2;
    background-image: url(../img/bg_red.png);
 bottom:-56px;
 right:-10px;

}

.mail_img3::after{
    content:'';
    width:290%;
    height:50%;
    position:absolute;
    z-index: -1;
    top:0;
    left:0;
    background-image: url(../img/bg_fall2.png);
   
}

.mail_img2::before{
    content:'';
    width:500%;
    height:500%;
    position:absolute;
    z-index: -1;
    background-image: url(../img/fall3.png);
    animation:bg 30s linear infinite;
    background-attachment: fixed;
}

.mail_img2::after{
    content:'';
    width:500%;
    height:500%;
    position:absolute;
    z-index: -1;
    background-image: url(../img/fall3.png);
    animation:bg2 70s linear infinite;
    background-attachment: fixed;
}


.mail_img{
    width:55vw;
    height:600px;

    @include bg('../img/mail.png',contain,center){
        background-repeat: no-repeat;
    }
}
.mail_img2{
    width:15vw;
    height:300px;

    bottom:10%;
    left:10%;
    position:absolute;
    @include bg('../img/mail2.png',contain,center){
        background-repeat: no-repeat;
    }
}

.mail_img3{
    width:30vw;
    height:925px;
    position:absolute;
    top:0;
    right:0;
    @include bg('../img/mail1.png',contain,center){
        background-repeat: no-repeat;
    }
}

.slide{
    width:100%;
    height:700px;
    background-color: burlywood;
    -webkit-mask: url(../img/bg_svg.svg) repeat-x 50% 0;
    margin-top:-5%;
    mask-size: 100%;

 
}

article{
    width:100%;
    height:900px;
    background-color: cadetblue;
    -webkit-mask: url(../img/bg_svg.svg) repeat-x 50% 0;
    margin-top:-5%;
    mask-size: 100%;
    @include bg('../img/bg.png',cover,center);
    @include flex(flex,center,center,row);
}

.slide_box{
    width:1200px;
    height:500px;
    
    margin-left:40%;

}
.sl{
    width:7807px;
    height:100%;
    @include flex(flex,space-around,center,row);

}
#prev,#next{
    width:150px;
    height:150px;
    background-color: darkgreen;
    position:absolute;
    border-radius: 50%;
    z-index: 999;
}
#prev{
    left:-4%;
}
#next{
    right:-4%;
}

.po{
    width:350px;
    height:431px;
    background-color: blueviolet;
    transform: skew(-7deg);
    @include flex(flex,center,center,column);
    position:relative;
    overflow: hidden;
}
.po_img{
    width:300px;
    height:400px;
    margin-top:8%;

    transform: skew(7deg);
    img{
       width:169%;
       margin: {
        top:-18%;
        left:-39%;
       }
    }
   
}
.click{
    overflow: visible;

    .po_box{
        bottom:0;
    }
}

.po_box{
    width:100%;
    height:60px;
    transition:.3s ease;
    background-color: #c33a4f;
    bottom:-14%;
    position:absolute;
}

.buy{
    width:100%;
    height:1097px;
    background-color: chocolate;
    -webkit-mask: url(../img/bg_svg.svg) repeat-x 50% 0;
    margin-top:-5%;
    mask-size: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.buy_box{
    width:80%;
    height:60%;
    @include flex(flex,space-around,center,row);
    margin-top:2%;
}
.buy_box2{
    width:40%;
    height:428px;
    background-color: beige;
    border-radius:20px;
    position:relative;

    &:first-of-type{
        @include bg('../img/article1.png',cover,center);
    }
    &:nth-of-type(2){
        @include bg('../img/image1.png',cover,center);
    }
}
.title2{
    width:15vw;
    height:341px;
    
    position:absolute;
    left:-25%;
    bottom:-25%;
    @include bg('../img/bi.png',contain,center){
        background-repeat: no-repeat;
    };
}
.title3{
    width:12vw;
    height:278px;
    position:absolute;
    right:-20%;
    top:-20%;
    @include bg('../img/nim.png',contain,center){
        background-repeat: no-repeat;
    };
}

.title4{
    width:14vw;
    height:236px;
    
    position:absolute;
    right:-10%;
    bottom:-10%;
    @include bg('../img/title2.png',contain,center){
        background-repeat: no-repeat;
    };
}


.title{
    width:400px;
    height:70px;
    position:absolute;
 
    left:10%;
    top:-10%;
    @include bg('../img/title.png',contain,center){
        background-repeat: no-repeat;
    };
}

.title1_2,.title1_3{
width:9vw;
height:109px;

position:absolute;
}

.title1_1,.title1_4{
    width:13vw;
    height:257px;
    position:absolute;
}

.title1_1{
    
    top:-1%;
    left:0%;
    @include bg('../img/dal.png',contain,center){
        background-repeat: no-repeat;
    };
}

.title1_2{
    bottom:15%;
    left:5%;
    @include bg('../img/left.png',contain,center){
        background-repeat: no-repeat;
    };
}
.title1_3{
    bottom:15%;
    right:5%;
    @include bg('../img/right.png',contain,center){
        background-repeat: no-repeat;
    };
}
.title1_4{
    top:-1%;
    right:0%;
    @include bg('../img/lu.png',contain,center){
        background-repeat: no-repeat;
    };
}


.buy_box3{
    width:1000px;
    height:200px;
    background-color: white;
    border-radius: 20px;
    @include bg('../img/amii.png',contain,center){
        background-repeat: no-repeat;
    };
    box-shadow: 2px 2px 8px #444;
}
.chip{
    width:100%;
    height:800px;
    background-color: darkgoldenrod;
    -webkit-mask: url(../img/bg_svg.svg) repeat-x 50% 0;
    margin-top:-5%;
    mask-size: 100%;
    position:relative;
    @include flex(flex,space-around,center,column);
}


.chip_box{
    width:90%;
    height:200px;
    background-color: aqua;
    @include flex(flex,center,center,row);
}
.chip1{
    width:20%;
    height:150px;
    background-color: aliceblue;
}
.chip2{
    width:40%;
    height:150px;
    h1{
        font-size: 20px;
    }
    p{
        font-size: 15px;
    }
}
.chip3{
    width:10%;
    height:100%;
    background-color: #3f95e1;
}
.chip4{
    width:40%;
    height:100%;
    background-color: blue;
}

.hom{
    width:300px;
    height:100px;
    background-color: chartreuse;
}
.hom2{
    width:500px;
    height:400px;
    background-color: crimson;
}














@keyframes op{
    0%{width:0%;transform: skew(-20deg); right:-10%;}
    50%{width:200%;transform: skew(-20deg);right:-10%;}
    100%{width:50%;transform: skew(-20deg); left:-30%;}
}

@keyframes text{
    from{transform: translateY(91px);}
    to{transform: translateY(0);}
}

@keyframes bubbles{
    80%{ transform:translate(-100px,-500px) rotateY(180deg);}
    100% {
        transform: translateY(-700px) scale(0.5);
        opacity: 0;
        animation-timing-function: ease-in;
        background-color: gold;
    }
}

@keyframes bubbles2{
    100% {
        transform: translateY(-500px) scale(0.5) rotate(90deg);
        opacity: 0;
        animation-timing-function: ease-in;
        background-color: gold;
    }
}

@keyframes bubbles3{
    80%{ transform:translate(100px,-500px) rotateY(20deg);}
    100% {
        transform: translateY(-900px) scale(0.5);
        opacity: 0;
        animation-timing-function: ease-in;
        background-color: gold;
    }
}

@keyframes bg{
    from{
        transform: translate(50%,-100%);
    }

    to{
        transform: translate(-100%,110%);
    }
}

@keyframes bg2{
    from{
        transform: translate(20%,-40%);
    }

    to{
        transform: translate(-120%,110%);
    }
}


