@charset "UTF-8";
@import url(../css/font.css);
@import "index2_mobile_copy", "index2_mobile", "index2_tablet";

$m: 0 auto;


@mixin bg($url,$size,$po) {
    background-image: url($url);
    background-size: $size;
    background-position: $po;
    @content
};

@mixin flex($flex,$js,$ali,$row) {
    display: $flex;
    justify-content: $js;
    align-items: $ali;
    flex-direction: $row;
}

@media(min-width:1300px){
*{margin:0; padding:0; scroll-behavior: smooth;}
#wrap{width:100%; overflow: hidden;}
h1{font-family:  'ONE-Mobile-POP';}
p{font-family: 'NEXON Lv1 Gothic OTF Light';}
ul,li,ol{list-style: none;}
a{text-decoration: none; color:#000;}
#wrap{ overflow: hidden; width:100%;}

header{width:100vw; height:100vh;  margin:0 auto;
display: flex; justify-content: flex-end;
    position:relative;}

#header_box{width:50%; height:100%; background-color: gold;
transform: skew(-20deg); position:absolute;right:0;
animation:op 1.5s forwards; }
#header_box2{width:95%; height: 100%; background-image: url(../img/mv-pc.png);
background-size: cover; background-position: 50%; background-attachment: fixed;}
#header_text{display: flex; flex-direction: column; 
position:absolute; z-index: 5; top:20%; left:5%; }
#header_text h1{display: inline-block; font-size: 5vw; margin:5% 0; color:#333;}

.bubble_box{width:70%; height:5%; position:absolute; bottom:-5%; left:15%;
}

.bubbles{clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
 position:absolute; z-index: 999;}
.path1{width:20px; height:20px; left:30%; animation:bubbles 9s infinite; z-index: 999; background-color: #00ffff;}
.path2{width:30px; height:30px; left:40%;animation:bubbles2 6s infinite; z-index: 999;background-color: #2e5ec3;}
.path3{width:40px; height:40px; left:45%;animation:bubbles3 9s infinite; z-index: 999;background-color:#ddf2fd;}
.path4{width:10px; height:10px; left:35%;animation:bubbles2 5s infinite; z-index: 999;background-color:gold;}
.path5{width:20px; height:20px; left:50%;animation:bubbles 15s infinite; z-index: 999;background-color:#3f95e1;}
.path6{width:30px; height:30px; left:55%;animation:bubbles3 5s infinite; z-index: 999;background-color:#00ffff;}
.path7{width:30px; height:30px; left:65%;animation:bubbles2 15s infinite; z-index: 999;background-color:#2e5ec3;}
.path8{width:40px; height:40px; left:60%;animation:bubbles 11s infinite; z-index: 999;background-color:#ddf2fd;}
.path9{width:20px; height:20px; left:70%;animation:bubbles3 11s infinite; z-index: 999;background-color:gold;}






.text{overflow: hidden;}
.text h1{transform: translateY(150px);
animation:text 0.5s ease forwards; animation-delay: 1.8s;}


section{
    width:100%;
    height:auto;
    margin:$m;
    position:relative;
   z-index: -1;
   
    video{
        width:100%;
        height:100%;

    }
}

.sec_box{
    width:666px;
    height:126px;
    @include flex(flex, center,center,row);
    position:absolute;
    font-size: 30px;
    opacity: 0;
    &:first-of-type{
        top:9%;
        left:10%;
       
     @include bg('../img/video1.png',cover,center);
    }

    &:nth-of-type(2){
        top:29%;
        right:5vw;
     @include bg('../img/video2.png',contain,center){
        background-repeat: no-repeat;
     }
     img{
        margin-top:-5%;
     }
    }

    &:nth-of-type(3){
        top:49%;
        left:5%;
     @include bg('../img/video1.png',cover,center);
    }
}


.mail{
    width:100%;
    height:950px;
    -webkit-mask: url(../img/bg_svg.svg) repeat-x 50% 0;
    background-color: #c33a4f;
    mask-size: 100%;
   margin-top:-4%;
   position:relative;
   @include flex(flex,center,center,column);
   h1{
    font-size: 50px;
    color:white;
    transition:1s ease;
    opacity: 0;
    &:nth-of-type(1){
        margin-top:2%;
        
    }
    
  
   }
   
}
.bar{
    width:550px;
    height:5px;
    background-color: white;
    position:absolute;
    top:28%;
    transition:.3s ease;
    transform: scaleX(0);
    
}

.bar:before{
    content:'';
    width:30px;
    height:30px;
    
    position:absolute;
    margin-top:-30%;
    left:-3%;
    @include bg('../img/star.png',cover,center);
}

.bar:after{
    content:'';
    width:30px;
    height:30px;
    
    position:absolute;
    margin-top:-8%;
    right:-5%;
    @include bg('../img/star.png',cover,center);
}

.mail::after{
    content:'';
    width:569px;
    height:336px;
    position:absolute;
    z-index: -2;
    top:0;
    left:0;
    background-image: url(../img/bg_red2.png);

}
.mail::before{
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
    background-image: url(../img/fall1.png);
    animation:bg 80s linear infinite;
    background-attachment: fixed;
}
.mail_img::before{
    content:'';
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:absolute;
    z-index: -1;
    background-image: url(../img/fall2.png);
    animation:bg 40s linear infinite;
    background-attachment: fixed;
}

.mail_img::after{
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
    background-image: url(../img/fall2.png);
    animation:bg2 90s linear infinite;
    background-attachment: fixed;
}

.mail_img3::before{
    content:'';
    width:130%;
    height:50%;
    position:absolute;
    z-index: -999;
    background-image: url(../img/bg_red.png);
 bottom:-56px;
 right:-10px;

}

.mail_img3::after{
    content:'';
    width:335%;
    height:92%;
    position:absolute;
    z-index: -1;
    top:0;
    left:-223%;
    background-image: url(../img/bg_fall2.png);
   
}

.mail_img2::before{
    content:'';
    width:663%;
    height:300%;
    position:absolute;
    top:-599px;
    left:-196px ;
    z-index: -1;
    background-image: url(../img/fall3.png);
    animation:bg 30s linear infinite;
    background-attachment: fixed;
}

.mail_img2::after{
    content:'';
    width:670%;
    height:300%;
    top:-538px;
    left:-191px;
    position:absolute;
    z-index: -1;
    background-image: url(../img/fall3.png);
    animation:bg2 70s linear infinite;
    background-attachment: fixed;
}


.mail_img{
    width:55vw;
    height:600px;
    transition:1s ease;
    opacity: 0;
    @include bg('../img/mail.png',contain,center){
        background-repeat: no-repeat;
    }
}
.mail_img2{
    width:15vw;
    height:300px;
    transition:1s ease;
    opacity: 0;
    bottom:10%;
    left:10%;
    position:absolute;
    @include bg('../img/mail2.png',contain,center){
        background-repeat: no-repeat;
    }
}

.mail_img3{
    width:30vw;
    height:925px;
    position:absolute;
    transition:1s ease;
    opacity: 0;
    top:0;
    right:0;
    @include bg('../img/mail1.png',contain,center){
        background-repeat: no-repeat;
    }
}


.slide{
    width:100%;
    height:1156px;
    background-color: burlywood;
    -webkit-mask: url(../img/bg_svg.svg) repeat-x 50% 0;
    margin-top:-5%;
    mask-size: 100%;
    @include flex(flex,start,center,column);
    @include bg('../img/bg.png',cover,center);
    p{
        margin-top:5%;
        color:rgb(190, 162, 0);
        font-size: 25px;
    }
    h1{
        color:#333;
        margin:1% 0;
        font-size: 60px;
        opacity: 0;
        transition: .3s ease;
    }
 
}
.sl_bar{
    width:600px;
    height:4px;
    background-color: #333;
    margin-bottom:3%;
    transform: scaleX(0);
    transition: .3s ease;
}

.sl_video{
    width:908px;
    height:400px;
    border-radius: 20px;
    position:relative;
    opacity: 0;
    transition: .3s ease;

    video{
        width:100%;
        height:100%;
        border-radius: 20px;
    }
 
}
.item{
    position:absolute;
    width:5vw;
    height:100px;
    opacity: 0;
    transition:0.3s ease;

    &:first-of-type{
        top:0;
        left:0;
    }
    &:nth-of-type(2){
        top:30px;
        right:-103px;
    }
    &:nth-of-type(3){
        bottom:40%;
        left:-19%;
    }
    &:nth-of-type(4){
        width:668px;
        height:auto;
        right:-247px;
        z-index: 5;
        top:155px;
        img{
            width:100%;
            height:100%;
        }
    }
    &:nth-of-type(5){
        width:283px;
        height:auto;
        right:-83px;
        top:-137px;
        img{
            width:100%;
            height:100%;
        }
    }
    &:nth-of-type(6){
        width:284px;
        height:auto;
        left:-10%;
       bottom:-35%;
        img{
            width:100%;
            height:100%;
        }

    }
    &:nth-of-type(7){
        width:284px;
        height:auto;
        left:23%;
       bottom:-57%;
       transform: rotate(55deg);
        img{
            width:100%;
            height:100%;
        }
        
    }
    &:nth-of-type(8){
        width:284px;
        height:auto;
        left:-52px;
       top:-118px;
       transform: rotate(91deg);
        img{
            width:100%;
            height:100%;
        }
        
    }
}





article{
    width:100%;
    height:900px;
    background-color: cadetblue;
    -webkit-mask: url(../img/bg_svg.svg) repeat-x 50% 0;
    margin-top:-5%;
    mask-size: 100%;
    @include bg('../img/back.png',cover,center);
    @include flex(flex,center,center,row);
}

.slide_box{
    width:1200px;
    height:500px;
    
    margin-left:40%;

}
.sl{
    width:7807px;
    height:100%;
    @include flex(flex,space-around,center,row);

}
#prev,#next{
    width:150px;
    height:150px;
    background-color: gold;
    position:absolute;
    border-radius: 50%;
    z-index: 999;
    cursor: pointer;
}
#prev{
    left:-4%;
    transition:.3s ease;
    font-size: 50px;
    &:hover{
        left:-3%;
        background-color: white;
    }
    img{
        width:46%;
        transform: translate(68px,35px);
     
    }
}
#next{
    right:-4%;
    transition:.3s ease;
    &:hover{
        right:-3%;
        background-color: white;
    }
    img{
        transform: translate(17px,43px);
    }
}

.po{
    width:17vw;
    height:auto;
    background-color: gold;
    transform: skew(-7deg);
    @include flex(flex,center,center,column);
    position:relative;
    overflow: hidden;
    transition: .3s ease;
}
.po_img{
    width:15vw;
    height:auto;
    margin-top:8%;

    transform: skew(7deg);
    img{
       width:169%;
       margin: {
        top:-18%;
        left:-39%;
       }
    }
   
}
.po_inner{
    width:4vw;
    height:4vw;
    position:absolute;

    top:0;
    right:0;
}
.click{
    overflow: visible;
    transform: skew(-7deg) scale(1.2);

    .po_box{
        transform: scaleY(1);
    }
}

.po_box{
    width:100%;
    height:60px;
    bottom:0;
    transition:.3s ease;
    background-image: linear-gradient(270deg, rgba(25,7,45,0.5) 0%, #19072d 100%);
    transform: scaleY(0);
    position:absolute;
    transform-origin: bottom;
    p{
        color:white;
        transform: skew(7deg);
        font-size: 20px;
    }
}

.buy{
    width:100%;
    height:1097px;
    background-color: #c33a4f;
    -webkit-mask: url(../img/bg_svg.svg) repeat-x 50% 0;
    margin-top:-5%;
    mask-size: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   position:relative;
}

.buy_box{
    width:80%;
    height:60%;
    @include flex(flex,space-around,center,row);
    margin-top:2%;


}

.buy_box::after{
    content:'';
    width:500%;
    height:500%;
    position:absolute;
    z-index: -2;
    background-image: url(../img/fall3.png);
    animation:bg 120s linear infinite;
    background-attachment: fixed;
}

.buy_box::before{
    content:'';
    width:500%;
    height:500%;
    position:absolute;
    z-index: -2;
    background-image: url(../img/fall3.png);
    animation:bg2 200s linear infinite;
    background-attachment: fixed;
}







.buy::before{
    content:'';
    width:729px;
    right:0;
    bottom:0;
    height:405px;
    z-index: -2;
    position:absolute;
    background-image: url(../img/bg_red.png);
}

.buy::after{
    content:'';
    width:570px;
    z-index: -2;
    left:0;
    top:0;
    height:314px;
    z-index: -1;
    position:absolute;
    background-image: url(../img/bg_red2.png);
}






.buy_box2{
    width:40%;
    height:428px;
    background-color: beige;
    border-radius:20px;
    position:relative;
    z-index: 5;

    transform: translateY(100px);
    opacity: 0;
    transition:.3s ease;
    &:first-of-type{
        @include bg('../img/article1.png',cover,center);
    }
    &:nth-of-type(2){
        @include bg('../img/title3.jpg',cover,center);
    }
    &:hover .buy_box2_1{
        transform: scaleY(1);
    }
}
.buy_box2_1{

    width:100%;
    height:80px;
    border-radius: 0 0 20px 20px;
    background-color: white;
    position:absolute;
    bottom:0;
    cursor: pointer;
    transition:.3s ease;
    transform: scaleY(0);
    transform-origin: bottom;
}
.buy2_2{
width:100%;
height:50%;
background-color: #ef594f;
@include flex(flex,center,center,row);
p{
    font-size: 20px;
    z-index: 999;
    font-family: 'GangwonEduPowerExtraBoldA';
    margin: {
        top:10%;
        left:2%;
        right:2%;
    }
}
img{
    width:7%;
    margin-top:8%;
    z-index: 999;
}
}
.buy2_3{
    width:100%;
    height:50%;
    background-color: white;
    border-radius:20px;
}

.title2{
    width:15vw;
    height:341px;
    
    position:absolute;
    left:-25%;
    bottom:-25%;
    @include bg('../img/bi.png',contain,center){
        background-repeat: no-repeat;
    };
}

.title2::after{
    content:'';
    width:500%;
    height:500%;
    position:absolute;
    z-index: -2;
    background-image: url(../img/fall.png);
    animation:bg 50s linear infinite;
    background-attachment: fixed;
}

.title2::before{
    content:'';
    width:500%;
    height:500%;
    position:absolute;
    z-index: -2;
    background-image: url(../img/fall.png);
    animation:bg2 70s linear infinite;
    background-attachment: fixed;
}


.title3{
    width:12vw;
    height:278px;
    position:absolute;
    right:-20%;
    top:-20%;
    z-index: 999;
    @include bg('../img/nim.png',contain,center){
        background-repeat: no-repeat;
    };
}

.title3::after{
    content:'';
    width:500%;
    height:500%;
    position:absolute;
    z-index: -2;
    background-image: url(../img/fall2.png);
    animation:bg 90s linear infinite;
    background-attachment: fixed;
}


.title4{
    width:14vw;
    height:236px;
    
    position:absolute;
    right:-10%;
    bottom:-10%;
    @include bg('../img/title2.png',contain,center){
        background-repeat: no-repeat;
    };
}


.title{
    width:29vw;
    height:84px;
    position:absolute;
    z-index: 9;
    left:5%;
    top:-10%;
    @include bg('../img/title.png',contain,center){
        background-repeat: no-repeat;
    };
    @include flex(flex, center,center, row);
    font: {
        family:'ONE-Mobile-POP';
        size:2vw;
 
    }
    color:white;
    text-shadow: -1px 0 #49ac1b, 0 1px #49ac1b, 1px 0 #49ac1b, 0 -1px #49ac1b;

}


.title1_2,.title1_3{
width:9vw;
height:109px;

position:absolute;
}

.title1_1,.title1_4{
    width:13vw;
    height:257px;
    position:absolute;
}

.title1_1{
    
    top:8%;
    left:0%;
    @include bg('../img/dal.png',contain,center){
        background-repeat: no-repeat;
    };
}

.title1_2{
    bottom:10%;
    left:5%;
    @include bg('../img/left.png',contain,center){
        background-repeat: no-repeat;
    };
}
.title1_3{
    bottom:10%;
    right:5%;
    @include bg('../img/right.png',contain,center){
        background-repeat: no-repeat;
    };
}
.title1_4{
    top:8%;
    right:0%;
    @include bg('../img/lu.png',contain,center){
        background-repeat: no-repeat;
    };
}


.buy_box3{
    width:1000px;
    height:200px;
    z-index: 5;
    background-color: white;
    border-radius: 20px;

    transition:.3s ease;
    @include bg('../img/amii.png',contain,center){
        background-repeat: no-repeat;
    };
    transition:.3s ease;
    cursor: pointer;
    box-shadow: 2px 2px 8px #444;
    &:hover{
        box-shadow: 0 0 0;
        transform: translateY(10px);

    }

}
.chip{
    width:100%;
    height:1395px;
    background-color: darkgoldenrod;
    -webkit-mask: url(../img/bg_svg.svg) repeat-x 50% 0;
    mask: url(../img/bg_svg.svg) repeat-x 50% 0;
    margin-top:-5%;
    mask-size: 100%;
    position:relative;
    @include flex(flex,space-around,center,column);
    @include bg('../img/back.png',cover,center);
    
}


.chip_box{
    width:76%;
    height:300px;
    background-color: rgba(255,255,255,0.15);
    @include flex(flex,space-around,center,row);
    border-radius: 20px;
    box-shadow: 0 0 0.25vw rgb(0 0 0 / 30%) inset;

}
.chip1{
    width:10%;
    height:250px;
 
    @include bg('../img/pack.png',contain,center){
        background-repeat: no-repeat;
    };
}
.chip2{
    width:18%;
    height:150px;
    h1{
        font-size: 25px;
    }
    p{
        font-size: 15px;
    }
}
.chip3{
    width:11%;
    height:100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
  
}
.chip3_1{
    width:65px;
    height:65px;
    transition:.3s ease;
    cursor: pointer;
    &:first-of-type{
        @include bg('../img/icon.png',contain,center){
            background-repeat: no-repeat;
        };
    }

    &:nth-of-type(2){
        @include bg('../img/icon2.png',contain,center){
            background-repeat: no-repeat;
        };
    }
    &:hover{
        transform: scale(1.1);
    }
}
.chip4{
    width:30%;
    height:100%;

    border-radius: 20px;
    @include flex(flex,space-evenly,center,column);
}
.in{
    width:370px;
    height:120px;
border:1px solid white;
    border-radius: 10px;
    color:#333;
    @include flex(flex,space-evenly,center,column);

    p{
        cursor: pointer;
        &:hover{
            opacity: 0.7;
        }
    }
}
.in_button {
    width: 250px;
    height: 50px;
    transition: .3s ease;
    background-color: gold;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;

    @include flex(flex, center, center, column);

    &:hover {
        transform: scale(1.1);


    }
    .buy2_2{
       
        img{
            margin: {
                top:8%;
                left:2%;
                right:2%;
            }
            
        }
        p{
            margin-top:12%;
        }
    }
    .buy2_3{
        width:100%;
        height:50%;
        background-color: white;
        border-radius: 0;
    }

}

.in2{
    width:370px;
    height:90px;
    background-color: white;
    border-radius: 10px;
    margin-top:2%;

    @include flex(flex,space-evenly,center,row);
  
}
.in2_img{
    width:106px;
    height:50px;

 
}
.in2_text{
    width:200px;
    height:40px;
    font-size: 12px;
    color:#333;
}
.hom{
    width:499px;
    height:100px;
    background-color:white;
    border-radius: 20px;
    font-size: 30px;
    transition:.3s ease;
    cursor: pointer;
    box-shadow: 4px 4px 4px #666;
    @include flex(flex,center,center,row);
    font-family: 'GangwonEdu_OTFBoldA';
    img{
        width:23%;
        height:77%;
    }
    &:hover{
        box-shadow: 0 0 0;
        transform: translateY(4px);
    }
}
.hom2{
    width:500px;
    height:200px;
    transition:.3s ease;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
    }
    border:2px solid white;
    border-radius: 20px;


}
.hom2_1{
    width:100%;
    height:70px;
    background-color: gold;
    border-radius: 20px;
    position:relative;
}
.hom2_1::before{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
  background-image: url(../img/fall2.png);
}
.hom2_2{
    width:100%;
    height:150px;
 -webkit-mask: url(../img/bg_svg.svg) repeat-x 50% 0;
 mask-size: 100%;
@include bg('../img/direct.png',cover,center);
 background-color: gold;
 margin-top:-5%;
 border-radius: 20px;

 
}


footer{
    width:75%;
    height:200px;
    margin:$m;

    display: flex;
}
.fo_logo{
    width:25%;
    height:100%;
    transition:.3s ease;
    &:hover{
        transform: scale(1.1);
    }
img{
    width:20vw;
}
    @include flex(flex,center,center,row);
}
.fo_nav{
    width:80%;
    height:100%;

    @include flex(flex,space-around,center,row);

}
.menu12{
    width:9vw;
    height:80px;
    background-color: white;
    border-radius: 10px;
    position:relative;
    transition:.3s ease;
    @include flex(flex,center,center,row);
    font-family:  'ONE-Mobile-POP';
    font-size: 20px;

    &:hover .btn_inner::before{
        background-image: url(../img/btn4.gif);
    }
    &:hover .btn_inner::after{
        background-image: url(../img/btn3.gif);
    }
    &:hover{
        background-color: #c33a4f;
    }
    &:hover::after{
        border:3px solid white;
    }
    &:hover .inner_2{
        transform: translateY(0);
        opacity: 1;
    }
    a{
        z-index: 999;
    }
}
.menu12::after{
position:absolute;
content:'';
width:8vw;
height:60px;
border-radius: 10px;
border:3px solid #c33a4f;
top:50%;
left:50%;
transform: translate(-50%,-50%);
cursor: pointer;
}
.btn_inner::before{
content:'';
width:3vw;
height:3vw;
background-color: white;
position:absolute;
clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0% 100%);
bottom:0;
right:0;
background-image: url(../img/btn1.png);
background-size: 0.5vw 0.5vw;
border-radius: 7px;

}
.btn_inner::after{
    content:'';
    width:3vw;
    height:3vw;
    background-color: white;
    position:absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0% 100%);
    top:0;
    left:0;
    background-image: url(../img/btn2.png);
    background-size: 0.5vw 0.5vw;
    border-radius: 7px;
    
    }

.inner_2{
position:absolute;
top:-7vw;
left:30%;
transition:.3s ease;
transform: translateY(20px);
opacity: 0;
img:first-of-type{
    width:6vw;
}
img:nth-of-type(2){
 width:2vw;
 position:absolute;
 left:5vw;
 transform: rotate(40deg); 
}

img:nth-of-type(3){
    width:1.5vw;
    position:absolute;
    top:2vw;
    transform: rotate(20deg);
   }
}







@keyframes op{
    0%{width:0%;transform: skew(-20deg); right:-10%;}
    50%{width:200%;transform: skew(-20deg);right:-10%;}
    100%{width:50%;transform: skew(-20deg); left:-30%;}
}

@keyframes text{
    from{transform: translateY(91px);}
    to{transform: translateY(0);}
}

@keyframes bubbles{
    80%{ transform:translate(-100px,-500px) rotateY(180deg);}
    100% {
        transform: translateY(-700px) scale(0.5);
        opacity: 0;
        animation-timing-function: ease-in;
        background-color: gold;
    }
}

@keyframes bubbles2{
    100% {
        transform: translateY(-500px) scale(0.5) rotate(90deg);
        opacity: 0;
        animation-timing-function: ease-in;
        background-color: gold;
    }
}

@keyframes bubbles3{
    80%{ transform:translate(100px,-500px) rotateY(20deg);}
    100% {
        transform: translateY(-900px) scale(0.5);
        opacity: 0;
        animation-timing-function: ease-in;
        background-color: gold;
    }
}

@keyframes bg{
    from{
        transform: translate(50%,-100%);
    }

    to{
        transform: translate(-100%,110%);
    }
}

@keyframes bg2{
    from{
        transform: translate(20%,-40%);
    }

    to{
        transform: translate(-120%,110%);
    }
}

@keyframes paint_mask {
    0% {
     
              clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    20% {
    
              clip-path: polygon(0 0, 40% 0, 16% 100%, 0 100%);
    }
    40% {
    
              clip-path: polygon(0 0, 40% 0, 54% 100%, 0 100%);
    }
    60% {
     
              clip-path: polygon(0 0, 68% 0, 54% 100%, 0 100%);
    }
    80% {
     
              clip-path: polygon(0 0, 68% 0, 90% 100%, 0 100%);
    }
    100% {
    
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

}